.custom-dialog-container 
    background-color: rgb(166, 128, 248)
    color: #000 !important
    border-radius: 10px
    padding: 4px


.mat-dialog-content
    background-color: #ffff
    color: #000
    display: flex
    justify-content: center
    align-items: center

@import "~@angular/material/prebuilt-themes/indigo-pink.css"